.navbar {
    background-color: #eeb4d9;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
}

/* Default link color */
.navbar .nav-link {
    color: #6C757D; /* Bootstrap's "secondary" grey */
}

/* Hover state */
.navbar .nav-link:hover {
    color: #343A40; /* Bootstrap's "dark" grey */
}
