body {
    background: url('../assets/scalloped_background.png') no-repeat center center;   
    background-position: center -75px;   
    background-size: cover;    
    margin: 0;
    padding: 20;
    height: 100%;  
}

.navbar {
    background-color: #eeb4d9;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
}

html, body {
    height: 100%; /* Full height of the viewport */
    margin: 0; 
    display: flex; 
    flex-direction: column; 
}

.container {
    flex: 1; /* Allow main content to take up remaining space */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #eeb4d9; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
}

.custom-bg {
    background-color: #eeb4d9;
    
}

/* Default link color */
.navbar .nav-link {
    color: #6C757D; 
}

/* Hover state */
.navbar .nav-link:hover {
    color: #343A40; 
}

.navbar .nav-link.active {
    color: hotpink !important; 
    font-weight: bold; 
}

.mt-navbar {
    margin-top: 100px; /* Adjust based on your navbar height */
}

/* Background for the section */
.custom-background {
    background: url('../assets/cherry_background.png') no-repeat center center; 
    background-size: cover;
    background-color: #eeb4d9; /* Fallback color */
}

/*Custom font for Headers*/
@font-face {
    font-family: 'DinerFont'; 
    src: url('../assets/fonts/Fontdinerdotcom.ttf') format('truetype');   
}

/* Class to apply the font */
.retro-header {
    font-family: 'DinerFont'; 
}

/* Content box styling */
.content-box {
    background-color: #eeb4d9;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}

/* Content box styling */
.content-box-about {
    background-color: white;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}

/* Recipe card image: make all images uniform */
.recipe-image {
    width: 100%;   
    object-fit: cover; 
}
.card {
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width: 100%; 
    min-width: 250px; 

    flex: 1 1 calc(25% - 20px); /* 4 cards per row, accounting for gaps */
}

.recipe-upload-container {
    background-color: #eeb4d9; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 30px; 
    width: 100%; 
    max-width: 600px; 
    margin-top: 50px;
    margin: 50px auto 0; 
}