body {
    background: url('../assets/scalloped_background.png') no-repeat center center;
   
    background-position: center -75px;
   
    background-size: cover;
    
    margin: 0;
    padding: 20;
    height: 100%;
  
}

.navbar {
    background-color: #eeb4d9;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
}

html, body {
    height: 100%; /* Full height of the viewport */
    margin: 0; /* Remove default margins */
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Stack elements vertically */
}

.container {
    flex: 1; /* Allow main content to take up remaining space */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #eeb4d9; /* Optional: Background color */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}


.custom-bg {
    background-color: #eeb4d9;
    
}

/* Default link color */
.navbar .nav-link {
    color: #6C757D; /* Bootstrap's "secondary" grey */
}

/* Hover state */
.navbar .nav-link:hover {
    color: #343A40; /* Bootstrap's "dark" grey */
}

/* Background for the section */
.custom-background {
    background: url('../assets/cherry_background.png') no-repeat center center; /* Replace with your image */
    background-size: cover;
    background-color: #eeb4d9; /* Fallback color */
}

/* Content box styling */
.content-box {
    background-color: white;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

@font-face {
    font-family: 'DinerFont'; /* Name for the font */
    src: url('../assets/fonts/Fontdinerdotcom.ttf') format('truetype'); /* Path to your font file */
  
}

/* Apply the font */
.retro-header {
    font-family: 'DinerFont'; /* Use the custom font */    
}